* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: whitesmoke;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
	color: rgb(0, 121, 0);
}

h1 {
	font-size: 40px;
	margin-bottom: 50px;
	text-align: center;
}

h2 {
	font-size: 25px;
	margin-bottom: 20px;
}

.main-text {
	text-align: justify;
	margin-bottom: 20px;
}

.author-text {
	font-size: 22px;
	color: rgb(0, 121, 0);
	font-weight: bold;
	float: left;
	margin-top: 50px;
	margin-left: 10px;
}

.container {
	max-width: 1140px;
	margin: 20px auto 0 auto;
}

.blog-posts {
	background-color: gainsboro;
	border-radius: 10px;
	width: 70%;
	border: 1px solid black;
	float: left;
	margin: 1%;
	padding-left: 1em;
	padding-right: 30px;
	position: relative;
}

.blog-posts img {
	height: 100px;
	width: auto;
}

.other-posts {
	background-color: gainsboro;
	font-size: medium;
	border-radius: 10px;
	border: 1px solid black;
	margin-top: 0.6em;
	padding-top: 1em;
	padding-left: 1em;
	width: 25%;
	float: left;
}

li {
	margin: 2rem;
}

.author-box {
	padding-top: 10px;
}

.author-box img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 1em;
	float: left;
}

.date {
	position: absolute;
	top: 50px;
	right: 30px;
	font-size: 12px;
	font-weight: bolder;
	color: rgb(0, 121, 0);
}

a {
	color: rgb(115, 29, 168);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 121, 0);
}
