* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: ivory;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
	color: rgb(0, 121, 0);
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-text {
	text-align: justify;
	margin-bottom: 20px;
}

.author-text {
	font-size: 22px;
	float: left;
	margin-top: 50px;
	margin-left: 10px;
}

.container {
	max-width: 1140px;
	/*margin: top right bottom left;*/
	margin: 20px auto 0 auto;
}

.blog-posts {
	background-color: rgb(165, 166, 173);
	width: 75%;
	border: 1px solid black;
	float: left;
	padding-left: 1em;
	padding-right: 30px;
	position: relative;
}

.blog-posts img {
	height: 100px;
	width: auto;
}

.other-posts {
	background-color: lightslategrey;
	border: 1px solid black;
	padding-top: 3.15em;
	padding-left: 1em;
	width: 25%;
	float: left;
}

.other {
	margin-bottom: 42.5px;
}

.other-posts > .other > p {
	color: indigo;
	font-size: medium;
}

.author-box {
	padding-top: 20px;
}

.author-box img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 1em;
	float: left;
}

.date {
	position: absolute;
	top: 50px;
	right: 30px;
	font-size: small;
}
